body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* additions here*/
  height: 100vh;
  /* background: black; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Banner {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Banner h2 {
  margin-left:25px;
  font-weight: 700;
  font-size: 2rem;
}

.buttonContainer {
  display: flex;
  gap: 25px;
  margin-right: 25px;
}

.navbutton {
  text-decoration: none;
}

.iframe {
  width:100%;
  height:100%;
}

.frame {
 margin:auto;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.page {
 
  width: 100%;
}

#logo {
  margin-top:25px;
  margin-bottom: 25px;
}


#TestVis{
  background: white;
}